@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "TestDomaineSansDisplay-medium";
  src: url(/font/TestDomaineSansDisplay-Medium-BF66174d37eec1b.otf)
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TestDomaineSansDisplay-mediumitalic";
  src: url(/font/TestDomaineSansDisplay-MediumItalic-BF66174d377687a.otf)
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

.component .swiper,
.component .swiper-wrapper,
.component .swiper-pagination,
.component .swiper-button-next,
.component .swiper-button-prev {
  z-index: auto;
}
/* .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: var(--swiper-pagination-progressbar-size, 4px);
    left: 0;
    top: 0;
}
.swiper-pagination-progressbar {
    background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, .25));
    position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
}

.swiper-pagination-fraction {
    color: var(--swiper-pagination-fraction-color, inherit);
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44* 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
  .swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical>.swiper-scrollbar {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2* var(--swiper-scrollbar-sides-offset, 1%));
}
.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, .1));
} */

/* ---- 노멀라이즈 ---- */
/* body 기본상태로 커스텀 */
/* * 전체선택자: 모든 선택자를 선택 */
* {
  letter-spacing: -0.02em;
}
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 폰트 적용 */
/* body {
  font-family: sans-serif;
} */
/* h태그 노멀라이즈 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  /* inherit -> 기본값 */
  font-size: inherit;
}
/* 컬러 기본값, a태그 밑줄제거 */
a {
  color: inherit;
  text-decoration: none;
}

/* ---- 라이브러리 ---- */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-21 {
  font-size: 21px;
}
.fs-24 {
  font-size: 24px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-31 {
  font-size: 31px;
}
.fs-32 {
  font-size: 32px;
}
.fs-34 {
  font-size: 34px;
}
.fs-38 {
  font-size: 38px;
}
.fs-42 {
  font-size: 42px;
}
.fs-46 {
  font-size: 46px;
}
.fs-48 {
  font-size: 48px;
}
.fs-50 {
  font-size: 50px;
}
.fs-52 {
  font-size: 52px;
}
.fs-54 {
  font-size: 54px;
}
.fs-56 {
  font-size: 56px;
}
.fs-58 {
  font-size: 58px;
}
.fs-62 {
  font-size: 62px;
}
.fs-64 {
  font-size: 64px;
}
.fs-68 {
  font-size: 68px;
}
.fs-72 {
  font-size: 72px;
}

.fc-fff {
  color: #fff;
}
.fc-222 {
  color: #222;
}
.fc-4f4f4f {
  color: #4f4f4f;
}

/* 여백/패딩 */
.pt-4 {
  padding-top: 4px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-12 {
  padding-top: 12px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-24 {
  padding-top: 24px;
}
.pt-28 {
  padding-top: 28px;
}
.pt-32 {
  padding-top: 32px;
}
.pt-36 {
  padding-top: 36px;
}
.pt-40 {
  padding-top: 40px;
}

.pl-4 {
  padding-left: 4px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-8 {
  padding-left: 8px;
}
.pl-12 {
  padding-left: 12px;
}
.pl-16 {
  padding-left: 16px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-24 {
  padding-left: 24px;
}
.pl-28 {
  padding-left: 28px;
}
.pl-32 {
  padding-left: 32px;
}
.pl-36 {
  padding-left: 36px;
}
.pl-40 {
  padding-left: 40px;
}

.pr-4 {
  padding-right: 4px;
}
.pr-8 {
  padding-right: 8px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-12 {
  padding-right: 12px;
}
.pr-16 {
  padding-right: 16px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-24 {
  padding-right: 24px;
}
.pr-28 {
  padding-right: 28px;
}
.pr-32 {
  padding-right: 32px;
}
.pr-36 {
  padding-right: 36px;
}
.pr-40 {
  padding-right: 40px;
}

.pb-4 {
  padding-bottom: 4px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-28 {
  padding-bottom: 28px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-36 {
  padding-bottom: 36px;
}
.pb-40 {
  padding-bottom: 40px;
}

/* 여백/마진 */
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-40 {
  margin-top: 40px;
}

.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-24 {
  margin-left: 24px;
}
.ml-28 {
  margin-left: 28px;
}
.ml-32 {
  margin-left: 32px;
}
.ml-36 {
  margin-left: 36px;
}
.ml-40 {
  margin-left: 40px;
}

.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-28 {
  margin-right: 28px;
}
.mr-32 {
  margin-right: 32px;
}
.mr-36 {
  margin-right: 36px;
}
.mr-40 {
  margin-right: 40px;
}

.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-40 {
  margin-bottom: 40px;
}

/* 라이브러리 */
.border-red {
  border: 5px solid red;
}

.border-blue {
  border: 5px solid blue;
}

.border-black {
  border: 5px solid black;
}

.border-green {
  border: 5px solid green;
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-as-c {
  align-self: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.block {
  display: block;
}

.height-100p {
  height: 100%;
}

.h-950p {
  height: 950px;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.con-min-width {
  margin-left: auto;
  margin-right: auto;
}

.img-box > img {
  width: 100%;
  display: block;
}

/* 커스텀 */
.con-min-width {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

.con {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.nanum-square-round-Light {
  font-family: "NanumSquareRoundLight";
  font-weight: 300;
  font-style: normal;
}

.nanum-square-round {
  font-family: "NanumSquareRound";
  font-weight: 400;
  font-style: normal;
}

.nanum-square-round-Bold {
  font-family: "NanumSquareRoundBold";
  font-weight: 500;
  font-style: normal;
}

.nanum-square-round-ExtraBold {
  font-family: "NanumSquareRoundExtraBold";
  font-weight: 600;
  font-style: normal;
}

/* --------------- 인트로 --------------- */

.intro .intro-title > img {
  filter: brightness(0) invert(1);
  width: 643px;
}

.intro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  animation: introFadeOut 1s ease-out forwards;
  animation-delay: 3s;
}

@keyframes introFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.intro-title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  opacity: 0;
  animation: textFadeIn 1.5s ease-out forwards;
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

/* 대각선 빛 */
.light-band {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 4vh;
  background: white;
  transform: translate(-50%, -50%) rotate(-35deg);
  filter: blur(40px);
  opacity: 0;
  animation: lightExpand 2s ease-out 1.3s forwards;
}

@keyframes lightExpand {
  0% {
    opacity: 0;
    height: 4vh;
    filter: blur(20px);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: 200vh;
    filter: blur(130px);
  }
}

/* 인트로 끝 */

/* 바이레도 커스텀 */
.p_design {
  width: 265px;
  padding: 15px 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.a_design {
  padding: 12px 30px 12px;
  background-color: #e7e5e1;
  width: 185px;
  display: block;
  margin: 0 auto;
}

.txt > p {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: inline-block;
}

.txt > p > span {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header시작 */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 80px; 헤더 높이 필요 */
  z-index: 1000;
}

/* 상단이미지 */
header > img {
  display: block;
  position: absolute;
  width: 643px;
  height: 183px;
  margin-left: -3px;
  transition: 0.4s ease;
}

.header:hover .header-top-img {
  opacity: 0;
}

header .con {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* 로고이미지 */
header .con .logo {
  position: absolute;
  z-index: 1;
}

header .con .logo img {
  width: 193px;
  height: 41px;
  padding: 50px 40px 0px 0px;
}

/* 헤더 아이콘 */

.header .con .ico {
  position: absolute;
  top: 20px;
  right: 0;
  display: none;
}

/* 헤더 블러 */
.header:hover .menu-blur-box {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.13);
}

/* 메뉴바시작 */
header .con .gnb {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  gap: 235px;
}

header .con .gnb > ul {
  display: flex;
  justify-content: center;
}

/* 메뉴바 가운데 여백 */
header .con .gnb > ul:nth-child(2) {
  flex-shrink: 1;
}

header .con .gnb > ul:nth-child(1) {
  padding-left: 67px;
}

/* 2차메뉴 */
header .con .gnb > ul ul {
  display: none;
}

header .con .gnb > ul > li:hover > ul {
  display: block;
}

header .con .gnb > ul > li > a {
  display: block;
  font-size: 20px;
  padding: 35px 30px;
}

/* 메뉴라인 */
header .con .gnb::after {
  content: "";
  position: absolute;
  top: 135px;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #111;
  transform: translateX(-50%);
  transition: 0.3s;
}

/* 메뉴반점 */
header .con .gnb > ul li::after {
  content: "";
  position: absolute;
  top: 129px;
  left: 45%;
  width: 12px;
  height: 7px;
  background: #111;
  border-radius: 7px 7px 0 0;
  transition: opacity 1s;
  opacity: 0;
  visibility: hidden;
}

header .con .gnb:hover::after {
  width: 100%;
}

header .con .gnb > ul > li {
  position: relative;
  padding-top: 40px;
}

header .con .gnb > ul li:hover::after {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

/* 2차메뉴 텍스트 */
header .con .gnb ul > li > ul > li > a {
  text-align: center;
  display: block;
  margin: 27px 0;
}

header .con .gnb ul > li > ul > li:hover > a {
  font-weight: 600;
  color: #4f4f4f;
}

/* --- 스크롤 시 효과 클래스 (JS에서 추가됨) --- */
.header.scrolled .header-top-img {
  opacity: 0;
  pointer-events: none;
}

.header.scrolled .logo {
  opacity: 0;
  pointer-events: none;
}

.header.scrolled .center-menu {
  opacity: 0;
  width: 0;
  pointer-events: none;
}

.header.scrolled .gnb {
  justify-content: center;
  gap: 120px;
  transition: 0.4s ease;
  /* backdrop-filter: blur(12px); */
  background: rgba(255, 255, 255, 0.1);
  margin-top: -40px;
}

.header.scrolled .center-menu {
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.header.scrolled .gnb {
  justify-content: center;
  gap: 0px;
}

/* 메뉴바 끝 */

/* main시작 */

main {
  width: 100%;
}

main .sec_1 {
  height: 1500px;
  display: flex;
  justify-content: center;
  position: relative;
}

main .sec_1 .main_content {
  width: 916px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 410px;
}

main .sec_1 .main_content .main_txt {
  font-family: "TestDomaineSansDisplay-medium";
  display: inline-block;
  position: absolute;
  font-size: 90px;
  line-height: 96px;
  top: 280px;
}

main .sec_1 .main_content .main_side_txt > p {
  font-family: "TestDomaineSansDisplay-mediumitalic";
  display: inline-block;
  position: absolute;
  transform: rotate(90deg);
  color: #b2b2b4;
  font-size: 36px;
  left: 100px;
  top: 45%;
}

main .sec_1 .main_content .main-description {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 21px;
  margin-top: -7x;
}

main .sec_1 .main_content .main-image-area {
  margin-left: 270px;
}

main .sec_1 .main_content .main-image-area > img {
  width: 620px;
}

main .sec_1 .main_content > .button {
  font-size: 16px;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #dbdbdb;
  font-family: "Pretendard";
  font-weight: 400;
  padding: 13px 76px;
  margin-top: 40px;
}

/* sec_1 끝 */

/* sec_2 시작 */

main .sec_2 .img-box > img {
  height: 376px;
}

/* sec_2 끝 */

/* sec_3 시작 */

/* sec_3_top 시작 */
main .sec_3 .sec_3_top {
  display: flex;
  justify-content: center;
  width: 100%;
}

main .sec_3 .sec_3_top .brand_txt_leftline {
  position: relative;
  padding-left: 70px;
}

main .sec_3 .sec_3_top .brand_txt_leftline > span {
  font-family: "TestDomaineSansDisplay-medium";
  display: inline-block;
  position: absolute;
  transform: rotate(90deg);
  color: #000000;
  font-size: 110px;
  left: -190px;
  top: 220px;
}

main .sec_3 .sec_3_top .brand_txt_leftline > img {
  height: 570px;
}

main .sec_3 .sec_3_top .right_line > img {
  height: 346px;
}

main .sec_3 .sec_3_top .brand_story_text {
  padding: 110px 40px;
  width: 1390px;
  line-height: 34px;
}

main .sec_3 .sec_3_top .brand_story_text > .txt > p {
  font-size: 20px;
}

main .sec_3 .sec_3_top .brand_story_text > .txt > p > span {
  font-size: 22px;
}

main .sec_3 .sec_3_top .brand_story_text .bottom_txt {
  text-align: end;
  margin-top: 138px;
}

main .sec_3 .sec_3_top .right_line {
  padding-top: 110px;
}

/* sec_3_top 끝 */

/* sec_3_bottom 시작 */

main .sec_3 .sec_3_bottom {
  padding: 110px 0 180px;
}

main .sec_3 .sec_3_bottom > ul {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin-right: -61px;
}

main .sec_3 .sec_3_bottom > ul > li {
  margin-left: 40px;
  width: 323px;
}

main .sec_3 .sec_3_bottom > ul > li > img {
  height: 432px;
}

main .sec_3 .sec_3_bottom > ul > li > .p_design {
  margin: 50px 0;
}

main .sec_3 .sec_3_bottom > ul > li > .button_design {
  padding: 12px 30px 8px;
  background-color: #e7e5e1;
}

/* main .sec_3 .sec_3_bottom > ul > li > .p_design {
  padding: 15px 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 50px 0;
} */

/* sec_3_bottom 끝 */

/* sec_3 끝 */

/* sec_4 시작 */

main .sec_4 {
  /* border: 1px solid red; */
  background-color: #fcf9f2;
  padding: 30px 0 100px;
}

main .sec_4 .sec_4_banner {
  width: 100%;
  margin: 0 auto;
  margin-right: 0;
}

main .sec_4 .sec_4_banner .sec_4_ani_txt {
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
}

main .sec_4 .sec_4_banner .sec_4_ani_txt > p {
  display: inline-block;
  font-family: "TestDomaineSansDisplay-medium";
  font-size: 120px;
  animation: text-to-left 70s linear infinite;
}

/*오른쪽에서 왼쪽 애니메이션*/
@keyframes text-to-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

main .sec_4 .sec_4_img > img {
  width: 100%;
  margin-top: 20px;
}

/* sec_4 끝 */

/* sec_5 시작 */
main .sec_5 {
  text-align: center;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 16px;
  background-color: #f4efe8;
  padding: 100px 0 100px;
}

main .sec_5 .sec_5_sub_prd > p {
  margin-bottom: 55px;
  display: block;
}

main .sec_5 .sec_5_sub_prd > a {
  margin-top: 65px;
  background-color: #000000;
  color: #f4efe8;
}

main .sec_5 div .grid_container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

main .sec_5 div .grid_container .grid_item > a > img {
  width: 250px;
}

main .sec_5 div .grid_container .grid_item {
  position: relative;
  width: 100%;
  height: auto;
}

.default,
.hoverimg {
  width: 100%;
  display: block;
}

main .sec_5 div .grid_container .hoverimg {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: none;
}

main .sec_5 div .grid_container .grid_item:hover .default {
  opacity: 0;
}

main .sec_5 div .grid_container .grid_item:hover .hoverimg {
  opacity: 1;
}

/* sec_5 끝 */

/* sec_6 시작 */
main .sec_6 {
  text-align: center;
  width: 1640px;
}

main .sec_6 .sec_6_sub_prd_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px 0 0;
}

main .sec_6 .sec_6_sub_prd_2 .left_txt_box {
  margin-top: 500px;
}

main .sec_6 .sec_6_sub_prd_2 .left_txt_box > p {
  margin-bottom: 25px;
}

main .sec_6 .sec_6_sub_prd_2 .left_txt_box > a {
  width: 130px;
}

main .sec_6 .sec_6_sub_prd_2 .right_img_box > img {
  width: 1060px;
}
/* sec_6 끝 */

/* sec_6 시작 */

main .sec_7 {
  padding: 200px 0 200px;
}

main .sec_7 .sec_7_br_mg {
  position: relative;
}

main .sec_7 .sec_7_br_mg .mg_txt {
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
}

/* main_txt */
main .sec_7 .sec_7_br_mg .mg_txt > h1 {
  font-family: "TestDomaineSansDisplay-medium";
  font-size: 110px;
  margin-left: 15px;
}

main .sec_7 .sec_7_br_mg .mg_txt > img {
  display: block;
  width: 584px;
  margin-top: -48px;
}

/* sub_txt */
main .sec_7 .sec_7_br_mg .mg_subtxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1378px;

  margin-left: 115px;
  line-height: 36px;
}

main .sec_7 .sec_7_br_mg .mg_subtxt > p {
  font-size: 22px;
}
main .sec_7 .sec_7_br_mg .mg_subtxt > p > span {
  font-size: 23px;
}

/* back image */
main .sec_7 .sec_7_br_mg .grid {
  position: absolute;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  width: fit-content;
  gap: 16px;
  top: 220px;
  right: 0;
  z-index: -1;
}

main .sec_7 .sec_7_br_mg .img-box > img:nth-child(1) {
  width: 410px;
}

main .sec_7 .sec_7_br_mg .img-box > img:nth-child(2) {
  width: 372px;
  align-self: end;
}

main .sec_7 .sec_7_br_mg .img-box > img:nth-child(3) {
  width: 343px;
  justify-self: end;
}

main .sec_7 .sec_7_br_mg .img-box > img:nth-child(4) {
  width: 433px;
}

main .sec_7 .sec_7_br_mg .circle {
  z-index: -2;
  position: absolute;
  width: 605px;
  height: 605px;
  border-radius: 50%;
  background-color: #fcf9f2;
  bottom: 270px;
  left: 450px;
}

/* sec_7 끝 */

/* sec_8 시작 */

main .sec_8 .sec_8_prd .sec8-swiper {
  width: 1680px;
  height: auto;
  padding: 60px 0;
  text-align: center;
}

main .sec_8 .sec_8_prd .sec8-swiper .swiper-wrapper .swiper-slide {
  display: flex;
  border: 1px solid red;
  width: 261px;
}

.sec_8 .sec_8_prd .sec8-swiper .swiper-wrapper .swiper-slide .img_txt_wrap {
}

main
  .sec_8
  .sec_8_prd
  .sec8-swiper
  .swiper-wrapper
  .swiper-slide
  .img_txt_wrap
  img {
  width: 211px;
  height: auto;
  height: auto;
  display: inline-block;
}

/* sec_8 끝 */
